
* { margin:0; padding:0; box-sizing:border-box; }

body, .app {
  height: 100vh;
  min-height: 100%;
  background-color: black;
  background-image: url("./../images/flowerPower.png");
  background-repeat: repeat-y;
  background-image: center;
  position: center;
  text-align: center;
  max-width: 767px;
}

#react-app-root {
  background-color: #0E0E0E;
}

well, .app {
  background-color: #0E0E0E;
}
