
* { margin:0; padding:0; box-sizing:border-box; }

body, .app {
  height: 100vh;
  min-height: 100%;
  background-color: black;
  background-image: url("./../images/flowerPower.png")
}

#react-app-root {
  background-color: black;
}
